extends layout

block content
	- if(!isSuccess)
		script.
			alert('방에 입장 할 수 없습니다.');
			history.go(-1);
	- else
		h3 방제 :
			span#roomname= roomname 
			input#leave(type='button', value='나가기')
		
		#chatWindow
		div#attendantsWindow
			p 참가자
			ul#attendants
				each attendant in attendants
					li(id='attendant-'+attendant)= attendant
		form
			span#myName #{username}
			input(type='text')#message
			input(type='submit', value='보내기')
			
			
		script(type='text/javascript').
			$('document').ready(function(){
				var room = io.connect('/');
				var chatWindow = $('#chatWindow');
				var messageBox = $('#message');
				var myName = $('#myName').text();
				var attendants = $('#attendants');
				
				function showMsg(msg){
					chatWindow.append($('<p>').text(msg));
					chatWindow.scrollTop(chatWindow.height());
				}
				
				
				$('form').submit(function(e){
					e.preventDefault();
					var msg = messageBox.val();
					
					if($.trim(msg) !== ''){
						showMsg( myName + ' : ' + msg);
						room.json.send({username: myName, msg:msg});
						messageBox.val('')	
					}
				});
				
				$('#leave').click(function(){
					room.emit('leave', {username : myName});
					location.href = '/enter';
				});
				
				/*
					Socket Method define
				*/
				
				room.on('connect', function(){
					room.emit('join', 
						{roomname : $('#roomname').text(), username: myName});
				});
				
				room.on('joined', function(data){
					if(data.isSuccess){
						showMsg(data.username + ' 님 입장!');
						attendants.append($('<li>')
							.attr('id', 'attendant-' + data.username)
							.text(data.username));
					}
				});
				
				room.on('message', function(data){
					showMsg( data.username + ' : ' + data.msg);
				});
				
				room.on('leaved', function(data){
					showMsg( data.username + ' 님 퇴장!');
					$('#attendant-' + data.username).remove();
				});
			});
			
						
			